<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.BoardMapper">
    
    <select id="loginMember" resultType="userVO">
        select * from user_tbl where user_id=#{user_id} and password=#{password}
    </select>

    <insert id="coffeeContents" >
        insert into recos_tbl(wondu_n, user_id) values(#{wondu_n},#{user_id})
    </insert>
    
    <select id="wondu_name" resultType="wonduCVO">
        select wondu_n,wondu_c,price from wondu_tbl where wondu_n=#{wondu_n}
    </select>

    
    <update id="Update">
      <!-- 파라메터가 여러개인 경우 vo로 묶여있기 때문에 생략 불가능하다. -->
      update user_tbl set user_name = #{user_name}, password = #{password} where user_id = #{user_id}
    </update>
    
    <select id="wonduContent" resultType="wonduCVO"> 
        select wondu_c from wondu_tbl where wondu_n = #{wondu_n}				
    </select>
    
    <select id="content" resultType="boardVO">
        select * from content_tbl
    </select>
    
    <select id="boardContent" resultType="boardVO"> <!-- vo로 묶어주고 idx로 파라미터값을 불러옴 -->
        select content_idx, title, contents, user_id from content_tbl where content_idx = #{content_idx}				
    </select>
    
    <insert id="boardInsert" >
     insert into content_tbl(title, contents, user_id) values(#{title},#{contents},#{user_id})
    </insert> 
    
    <delete id="boardDelete" >
     delete from content_tbl where content_idx = #{content_idx}
    </delete>

     <insert id="insertgood" >
        insert into wondu_good(good, wondu_n, user_id) values(#{good},#{wondu_n},#{user_id})
    </insert>

    <select id="good" resultType="goodVO">
        select * from wondu_good 			
    </select>


    <select id="WonduSearchlist" resultType="wonduCVO">      
        select wondu_n,wondu_c,price,img from wondu_tbl where wondu_n like CONCAT('%',#{wondu_n},'%')
    </select> 
	
   <select id="Wondulist" resultType="wonduCVO">
        select wondu_n,wondu_c,price,img from wondu_tbl
   </select>
</mapper>
